### string class들의 사용방법 (string class에서 이용할 수 있는 함수의 종류들)

In [5]:
s = '도레미파솔라시도'
print(s[2], s[7], s[-5], s[-3])
print(s[1:7], s[1:2], s[:-3], s[:])

미 도 파 라
레미파솔라시 레 도레미파솔 도레미파솔라시도

1:3은 1~2까지만 도출 (1~3이 아님에 유의) 1: (1에서 끝까지) :3 (처음(0)부터 3까지)

In [11]:
n = [100, 200, 300]
print(n[0], n[2], n[-1], n[-3])
print(n[1:2], n[1:], n[:2], n[:])

100 300 300 100
[200] [200, 300] [100, 200] [100, 200, 300]

In [6]:
len(s)

8

ㄴ len(s) - string의 개수를 도출

In [8]:
s[2]+s[5]*100+s[3:7]*100

'미라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라라파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시파솔라시'

string에 대하여 +을 사용 - 연결

star * - "반복"을 의미

In [10]:
s = 'sangria wine'

In [11]:
s.upper()

'SANGRIA WINE'

ㄴ string 내의 upper라는 함수를 사용하면 string을 대문자로 만들 수 있다.

In [18]:
s = ' Wuthering heights and Macro Economics.\n' 	
s

' Wuthering heights and Macro Economics.\n'

In [25]:
result = s.find('a')    # index of first instance of string t inside s (-1 if not found)
result = s.find('Macro') 
result

23

In [27]:
result = s.find('g')	    # index of last instance of string t inside s (-1 if not found)
result

9

s : class를 의미함. find함수는 처음 나오는 index만 찾아준다.(left에서 부터) / rindex를 사용하면 오른쪽에서 부터 찾아줌.

In [29]:
result = s.rindex('h')        # like s.find(t) except it raises ValueError if not found
result

15

In [33]:
s = s.strip(' ')      	            # a copy of s without leading or trailing whitespace
s

'Wuthering heights and Macro Economics.'

strip역시 s에서 제공되는 함수. # - 양쪽에 존재하는 white spaces를 지워줌. 만약 s=s.strip()이 아니라 s.strip()만 쓴다면 s가 변화하지 않는다.

In [41]:
tokens = s.split('in')	        # split s into a list wherever a t is found (whitespace by default)
tokens

['Wuther g he ghts and Macro Econom cs.']

text의 string을 단어별로 tokenize?하고 싶은 경우, split이라는 함수를 사용한다. 
예를 들어, (' ')- space가 기준이 되어, space가 나오는 경우를 기준으로 token의 형태로 쪼갠다.

In [42]:
s = ' '.join(tokens)	        # combine the words of the text into a string using s as the glue
s

'Wuther g he ghts and Macro Econom cs.'

tokenized?된 string을 다시 원문대로 붙여 복원하고 싶은 경우 - join의 사용. 위의 셀에서는 ' ', 즉, space를 기준으로 join한다는 의미. ' '(space)는 variable은 아니지만, 하나의 class로 존재하여 함수를 사용한다.

In [52]:
s = s.replace('th', 'Micro')   # replace instances of t with u inside s
s = s.replace('and', 'or')
s

'WuMicroer g he ghts or Micro Econom cs.'

ㄴ replace 함수를 이용해 this를 that으로 일괄적으로 바꿔준다.