주요 단축키
왼쪽 누르고 a를 누르면 셀 삽입 (x를 누르면 삭제)
b를 누르면 아래쪽에 셀 생성
실행 - shift +  enter
저장 - ctrl + s

### For

* for이나 if나 마지막에 반드시 콜론(:)이 들어가야함, and가 부재

(1)list를 바로 a에 넣는 경우
i = index를 의미. i 에는 하나의 element씩 투입된다.

In [4]:
a = ['아', '야', '어', '여', '오', '요']
for i in a:
    print(i)

아
야
어
여
오
요

(2) range를 이용하는 방식 (위와 같은 역할)
in range, len(a): a 변수의 갯수
range : 반복할 범위의 지정

In [6]:
a = ['우유', '커피', '녹차', '주스']
for i in range(len(a)):
    print(a[i])

우유
커피
녹차
주스

In [11]:
a = [1, 2, 3, 4]
for i in range(a):
    print(a[i])

TypeError: 'list' object cannot be interpreted as an integer

In [13]:
range (8)

range(0, 8)

In [39]:
a = [1, 2, 3, 4, 5]
for i in range(5):
    print((i))

0
1
2
3
4

In [32]:
a = [1, 2, 3, 4,5,6,7,8,9,10]
for i in range(len(a)):
    print(i*127+12/2)

6.0
133.0
260.0
387.0
514.0
641.0
768.0
895.0
1022.0
1149.0

In [29]:
a = ['red', 'green', 'blue', 'purple']
for i in a:
    print(i)

red
green
blue
purple

In [5]:
a = ['red', 'green', 'blue', 'purple']
for i in range(len(a)):
    print(a[i])

red
green
blue
purple

### a와 b 변수가 2개인 데이터를 함께 print하는 방법

In [ ]:
(1)enumerate 함수의 사용 -> i에 0,1,2,3(index)을 주고 a는 그대로 a를 사용한다
format을 이용하면 각각의 {}에 a와 b[i]*100의 값이 들어간다.

In [56]:
a = ["치", "키", "차", "카"]
b = [0.28, 0.352, 0.174, 0.451]
for i, a in enumerate(a):
    print("{}:{}%".format(a, b[i]*100))

치:28.000000000000004%
키:35.199999999999996%
차:17.4%
카:45.1%

In [7]:
a = ["red", "green", "blue", "purple"]
b = [0.2, 0.3, 0.1, 0.4]
for a_, b_ in zip(a, b):
    print("{}: {}%".format(a_, b_*100))

red: 20.0%
green: 30.0%
blue: 10.0%
purple: 40.0%

(2)package 째로 넣는 방법. zip을 사용해 변수ab를 같은 index로 묶어준다. 
in 뒤의 변수는 list를 의미하고 for뒤의 변수는 a_이지만 사실상 다른 변수 (c)와 마찬가지다. 하나의 item으로 존재.

### IF

단일한 =는 변수를 assign할때 쓰고, ==는 수학에서의 equal을 의미한다. 
and없이 tab을 이용해 if와 else의 범위를 구분 짓는다.

In [63]:
a = '옥수수모양 필통'
if a == 0:
    print(a)
else:
     print(type(a))

<class 'str'>

### 이중 For loop

for 안에 for이 존재하니 print는 탭을 2번 사용한다.

In [74]:
for i in range(1, 5):
    for j in range(2, 3):
        print(i+j)

3
4
5
6

In [10]:
for i in range(1, 3):
    for j in range(3, 5):
        if j >=4:
            print(i*j)

4
8

ㄴ 첫번째 for은 1,2가 돌아가고 두번째 for은 3,4가 돌아감 >=(같거나 클때의 기호)

### for loop가 list안으로 들어온 경우

In [99]:
a = [1, 2, 3, 4]
b = [i+100 for i in a if i <=2 ]
b

[101, 102]

In [102]:
a = ['red', 'green', 'blue', 'purple', 'monday', 'tuesday']
b = [i for i in a if len(i) >6]
b

SyntaxError: invalid syntax (<ipython-input-102-be26ec7213ae>, line 2)

a = ['red', 'green', 'blue', 'purple', 'monday', 'tuesday']
b = [i for i in a if len(i) = 6]는 왜 안될까?? 왜 invalid syntax라고 뜰까?
b